/* CSS declarations go here */
body {
    font-family: sans-serif;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #81a4d1, #e1ded2 100%);
    background-attachment: fixed;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.container {
    height: 100%;
    overflow: scroll;
}
.auth-block {
    padding-top: 10px;
}
.popup {
    display: none;
    position: fixed;
    right: 20px;
    padding: 0 30px 30px;
    width: 50%;
    text-align: center;
    background: white;
    opacity: 0.8;
    border-radius: 10px;
}
.popup label {
    float: left;
    width: 50px;
    margin-top: 10px;
}
.popup input {
    float: right;
    width: 90%;
    margin-top: 10px;
}
