<head>
    <title>Users articles</title>
</head>

<body>
<div class="container">
    <header>
        <div class="row">
            <div class="col-xs-7">
                <h1>Users Articles</h1>
            </div>
            <div class="col-xs-5 auth-block">
                {{#if currentUser}}
                    {{> logout}}
                {{else}}
                    {{> login}}
                    {{> register}}
                {{/if}}
            </div>
        </div>
    </header>

    {{#if currentUser}}
        {{> addArticle}}
    {{/if}}

    <hr/>

    {{#each articles}}
        {{> article}}
    {{/each}}

</div>

</body>

