<template name="login">
    <button id="show-login" class="btn btn-default">Login</button>
    <div class="popup" id="login-popup">
        <h2>Login</h2>
        <form>
            <div class="input-group">
                <div class="row">
                    <div class="col-xs-5"><label for="login-email">Email</label></div>
                    <div class="col-xs-7">
                        <input type="email" id="login-email" name="loginEmail" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5"><label for="login-password">Password</label></div>
                    <div class="col-xs-7">
                        <input type="password" id="login-password" name="loginPassword" />
                    </div>
                </div>
                <button type="submit" id="login-btn" class="btn btn-primary">Sign in</button>
            </div>
        </form>
    </div>
</template>