<template name="register">
    <button id="show-register" class="btn btn-default">Register</button>
    <div class="popup" id="register-popup">
        <h2>Register</h2>
        {{> warning warningID="registerWarning" warningText="passwords not equal"}}
        <form>
            <div class="row">
                <div class="col-xs-5"><label for="register-email">Email</label></div>
                <div class="col-xs-7">
                    <input type="email" id="register-email" name="registerEmail" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5"><label for="register-username">Username</label></div>
                <div class="col-xs-7">
                    <input type="text" id="register-username" name="registerUsername" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5"><label for="register-password">Password</label></div>
                <div class="col-xs-7">
                    <input type="password" id="register-password" name="registerPassword" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5"><label for="register-password2">Password again</label></div>
                <div class="col-xs-7">
                    <input type="password" id="register-password2" name="registerPassword2" />
                </div>
            </div>
            <button type="submit" id="register-btn" class="btn btn-primary">Register</button>
        </form>
    </div>
</template>