<template name="addArticle">
    <h2>Add new article</h2>
    {{> warning warningID="addWarning" warningText="All fields cannot be empty"}}
    <form class="new-article">
        <input type="text" name="articleTitle" placeholder="type to add title of article" /><br/>
        <textarea name="articleDescription" rows="10" cols="50"></textarea><br/>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</template>