<template name="article">
    <div class="articleBlock">
        <button class="delete btn btn-primary" title="Delete article">&times;</button>
        <h2>{{title}}</h2>
        <h4>created {{formatDate created_date}} by {{username}}</h4>
        <p>{{description}}</p>
    </div>
    <hr/>
</template>